<!-- _includes/favicons.html -->
<!-- Bright Mode Favicons -->
<!-- Android Icons -->
<link rel="icon" type="image/png" sizes="36x36" href="assets/brightfavicon/android-icon-36x36.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="48x48" href="assets/brightfavicon/android-icon-48x48.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="72x72" href="assets/brightfavicon/android-icon-72x72.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="96x96" href="assets/brightfavicon/android-icon-96x96.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="144x144" href="assets/brightfavicon/android-icon-144x144.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="192x192" href="assets/brightfavicon/android-icon-192x192.png" media="(prefers-color-scheme: light)">

<!-- Apple Touch Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="assets/brightfavicon/apple-icon-57x57.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="60x60" href="assets/brightfavicon/apple-icon-60x60.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="72x72" href="assets/brightfavicon/apple-icon-72x72.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="76x76" href="assets/brightfavicon/apple-icon-76x76.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="114x114" href="assets/brightfavicon/apple-icon-114x114.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="120x120" href="assets/brightfavicon/apple-icon-120x120.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="144x144" href="assets/brightfavicon/apple-icon-144x144.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="152x152" href="assets/brightfavicon/apple-icon-152x152.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="180x180" href="assets/brightfavicon/apple-icon-180x180.png" media="(prefers-color-scheme: light)">
<!-- Precomposed Apple Icon -->
<link rel="apple-touch-icon-precomposed" href="assets/brightfavicon/apple-icon-precomposed.png" media="(prefers-color-scheme: light)">

<!-- Standard Favicons -->
<link rel="icon" type="image/png" sizes="16x16" href="assets/brightfavicon/favicon-16x16.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="32x32" href="assets/brightfavicon/favicon-32x32.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="96x96" href="assets/brightfavicon/favicon-96x96.png" media="(prefers-color-scheme: light)">
<!-- Favicon ICO -->
<link rel="shortcut icon" href="assets/brightfavicon/favicon.ico" media="(prefers-color-scheme: light)">

<!-- Microsoft Tiles -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/brightfavicon/ms-icon-144x144.png" media="(prefers-color-scheme: light)">
<meta name="msapplication-square70x70logo" content="assets/brightfavicon/ms-icon-70x70.png" media="(prefers-color-scheme: light)">
<meta name="msapplication-square150x150logo" content="assets/brightfavicon/ms-icon-150x150.png" media="(prefers-color-scheme: light)">
<meta name="msapplication-square310x310logo" content="assets/brightfavicon/ms-icon-310x310.png" media="(prefers-color-scheme: light)">

<!-- Manifest -->
<link rel="manifest" href="assets/brightfavicon/manifest.json" media="(prefers-color-scheme: light)">


<!-- Dark Mode Favicons -->
<!-- Android Icons -->
<link rel="icon" type="image/png" sizes="36x36" href="assets/darkfavicon/android-icon-36x36.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="48x48" href="assets/darkfavicon/android-icon-48x48.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="72x72" href="assets/darkfavicon/android-icon-72x72.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="96x96" href="assets/darkfavicon/android-icon-96x96.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="144x144" href="assets/darkfavicon/android-icon-144x144.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="192x192" href="assets/darkfavicon/android-icon-192x192.png" media="(prefers-color-scheme: dark)">

<!-- Apple Touch Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="assets/darkfavicon/apple-icon-57x57.png" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" sizes="60x60" href="assets/darkfavicon/apple-icon-60x60.png" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" sizes="72x72" href="assets/darkfavicon/apple-icon-72x72.png" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" sizes="76x76" href="assets/darkfavicon/apple-icon-76x76.png" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" sizes="114x114" href="assets/darkfavicon/apple-icon-114x114.png" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" sizes="120x120" href="assets/darkfavicon/apple-icon-120x120.png" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" sizes="144x144" href="assets/darkfavicon/apple-icon-144x144.png" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" sizes="152x152" href="assets/darkfavicon/apple-icon-152x152.png" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" sizes="180x180" href="assets/darkfavicon/apple-icon-180x180.png" media="(prefers-color-scheme: dark)">
<!-- Precomposed Apple Icon -->
<link rel="apple-touch-icon-precomposed" href="assets/darkfavicon/apple-icon-precomposed.png" media="(prefers-color-scheme: dark)">

<!-- Standard Favicons -->
<link rel="icon" type="image/png" sizes="16x16" href="assets/darkfavicon/favicon-16x16.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="32x32" href="assets/darkfavicon/favicon-32x32.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="96x96" href="assets/darkfavicon/favicon-96x96.png" media="(prefers-color-scheme: dark)">
<!-- Favicon ICO -->
<link rel="shortcut icon" href="assets/darkfavicon/favicon.ico" media="(prefers-color-scheme: dark)">

<!-- Microsoft Tiles -->
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="assets/darkfavicon/ms-icon-144x144.png" media="(prefers-color-scheme: dark)">
<meta name="msapplication-square70x70logo" content="assets/darkfavicon/ms-icon-70x70.png" media="(prefers-color-scheme: dark)">
<meta name="msapplication-square150x150logo" content="assets/darkfavicon/ms-icon-150x150.png" media="(prefers-color-scheme: dark)">
<meta name="msapplication-square310x310logo" content="assets/darkfavicon/ms-icon-310x310.png" media="(prefers-color-scheme: dark)">

<!-- Manifest -->
<link rel="manifest" href="assets/darkfavicon/manifest.json" media="(prefers-color-scheme: dark)">
